/* Modal Container */
#game-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 

  font-family: "Caveat Brush", serif;
}

/* Modal Content */
#game-modal-content {
  position: relative; 
  
  width: 90%; 
  
  
  background: linear-gradient(135deg, #0077be, #00c853); /* Tropical gradient */
  border: 4px solid #ffd700; /* Gold border */
  border-radius: 15px;
  padding: 10px;
  
  margin-left: 0px;
  /* width: 70%; */
  max-width: 700px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  font-family: "Caveat Brush", serif;
  color: #ffffff; /* White text for contrast */
  position: relative; /* Ensure the image can be positioned outside */
  overflow: visible; /* Allow content to spill outside */;
}

/* Modal Title */
#game-modal-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333; 
}

/* Modal Text */
#game-modal-text {
  font-size: 1.3rem; 
  margin-bottom: 20px;
  color: #555; 
}

/* Quiz Options Section */
#game-quiz-options button {
  display: block; 
  margin: 10px auto; 
}



/* Base Quiz Button Styling */
.quiz-option {
  position: relative; /* Ensure the icon is positioned relative to the button */
}

/* Feedback Icon */
.quiz-icon {
  position: absolute; /* Position relative to the button */
  top: -20px;
  right: -15px;
  font-size: 2.2rem;
  font-weight: bold;
  pointer-events: none; /* Prevent icon from interfering with button clicks */
  z-index: 1; /* Ensure icon appears above button content */
}

/* Correct Icon (Green Checkmark) */
.correct-icon {
  color: green; /* Green checkmark */
}

/* Incorrect Icon (Red X) */
.incorrect-icon {
  color: red; /* Red X */
}

#game-next-button {
  position: absolute;
  right: 20px; /* Adjust distance from the right edge */
  bottom: 20px; /* Adjust distance from the bottom edge */
}